<div class="container mt-5"> 
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">Listado de Productos</span>
                    <button class="btn btn-success float-end" routerLink="/crear-producto" >Nuevo</button>
                    <table *ngIf="listProductos.length > 0"   class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Ubicación</th>
                            <th scope="col">Precio</th>
                            <th scope="col">                                
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let producto of listProductos">
                            <th>{{ producto.nombre }}</th>
                            <td>{{ producto.categoria }}</td>
                            <td>{{ producto.ubicacion }}</td>
                            <td>{{ producto.precio | currency: 'USD'}}</td>
                            <td>
                                <i class="fas fa-edit text-primary"></i>
                                <i (click)="eliminarProducto(producto?._id)" class="fas fa-trash text-danger"></i>
                            </td>
                          </tr>                  
                        </tbody>
                      </table>
                      <h5 style="text-align:center;" *ngIf="listProductos.length === 0" >No Hay Productos Registrados</h5>
                </div>                
            </div>
        </div>
    </div>
</div>
